<h2>Heading- Projects </h2>
<ul>
 
	  <li><%=link_to "New Project", new_project_path %></li>
  </ul> 
 <h3>The list of Project </h3>
 <% @projects.each do |project|%>
 <%=link_to project.name,project %><br/>
 <% end %>
